/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/

@font-face {
  font-family: "Roboto-light";
  src: url("../../fonts/Roboto/Roboto-light.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

body {
  background-image: url("../../images/yellowgreen.jpg");
  font-family: "Roboto-light", sans-serif;
}

#container {
  text-align: center;
  background-color: rgb(182, 228, 228);
}

#menu-area {
  background-color: rgb(202, 136, 136);
  margin: 18px;
}
#content-area {
  background-color: rgb(173, 202, 136);
  margin: 18px;
  transform: rotate(0deg);
}
